############
#   JAVA   #
############

*.class
*.jar
*.war
*.ear

############
#   IDEA   #
############

*.iml
out/*
.idea/*

############
#  MAVEN   #
############

target/*

############
# DOLPHIN  #
############

.directory


############
# RESOURCE #
############

src/test/resources/*
!src/test/resources/lenna.png
!src/test/resources/lenna rect.png
!src/test/resources/test image.png
!src/test/resources/bytes.dat

